.contact-data {
    display: flex;
    justify-content: space-between;
    line-height: 2;
    margin: 0 auto;
    padding: 1em 0 3em 0;
    width: 80%;
    
    .social i {
        font-size: 1.5em;
        line-height: 1;
        transition: all .3s;
        
        &:hover {
            transform: scale(1.4);
        }
    }
}
