.services-wraper {
    display: flex;
    justify-content: space-between;
    padding-bottom: 3.5em;


    .pages {
        color: $service-intro-pages-color;
    }

    .shops {
        color: $service-intro-shops-color;
    }

    .seo {
        color: $service-intro-seo-color;
    }



    .service__item {
        width: 33%;

        &-link {
            display: block;
            transition: all .3s;
            position: relative;
            width: 100%;
            transition: all .3s;

            &::after {
                transition: all .3s;
                position: absolute;
                content: " ";
                bottom: -2em;
                width: 70%;
                left: 50%;
                margin-left: -35%;
                height: 10px;
                border-radius: 35%;
                background: gray;
                opacity: 0;
            }

            &:hover {
                transform: translate(5%, -2%);

                &::after {
                    transform: translateY(20px);
                    opacity: .09;
                }
            }

        }

        &-icon {
            font-size: 1.6em;
        }

        &-name {
            font-size: 1.25em;
            margin: 1em 0 1.5em 0;
            font-weight: 700;

        }

        &-text {
            font-weight: 300;
            color: #4a5255;
            line-height: 1.3;
        }

        &:nth-child(2) {
            margin: 0 2.5em;
        }

        @media screen and (max-width: 600px) {
            width: 100%;

            &:nth-child(2) {
                margin: 0 0 3em 0;
            }
        }
    }

    @media screen and (max-width: 900px) {
        flex-wrap: wrap;
        justify-content: center;

        .service__item {
            padding: 1em;
            margin: auto;
            margin-bottom: 3em;

            &:nth-child(2) {
                margin: auto;
                margin-bottom: 3em;
            }

            &-text {
                font-size: 0.9em;
            }
        }
    }



}
