@import 'partials/reset';
@import 'partials/colors';
@import 'partials/nav';
@import 'partials/page-header';
@import 'partials/front-page/front-page-main';
@import 'partials/counter';
@import 'partials/front-page/project-intro';
@import 'partials/front-page/testimonials-intro';
@import 'partials/front-page/services-intro';
@import 'partials/front-page/team-intro';
@import 'partials/front-page/contact-intro';
@import 'partials/google-map';
@import 'partials/footer';

@import 'partials/offer/offer-main';


@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,700');

body,
html {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    min-height: 100vh;
    overflow-x: hidden;

    a {
        color: inherit;
        text-decoration: none;
    }
}

/*Edge*/

@supports ( -ms-accelerator:true) {
    html {
        overflow: hidden;
        height: 100%;
    }
    body {
        overflow: auto;
        height: 100%;
    }
}

/*Ie 10/11*/

@media screen and (-ms-high-contrast: active),
(-ms-high-contrast: none) {
    html {
        overflow: hidden;
        height: 100%;
    }
    body {
        overflow: auto;
        height: 100%;
    }
}

.container {
    margin: 0 auto;
    width: 80%; //    height: 100%;
    @media screen and (max-width: 1200px) {
        width: 86%;
    }

    @media screen and (max-width: 768px) {
        width: 90%;
    }
}

.page-header {
    height: 92vh;
    background-image: url("../assets/images/page-header-home.jpg");
    background-attachment: fixed;
    background-size: cover;
    margin-top: 4em;

    @supports (-webkit-overflow-scrolling: touch) {
        background-attachment: scroll;
    }
}

.main {}

.section {
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
}

.short {

    min-height: 40vh;
    padding: 2em 0;

    &__title {
        color: $short-title-color;
        font-size: 2.2em;
        font-weight: 700;
        padding: 1em;
    }

    &__description {
        color: $short-text-color;
        line-height: 1.5;
        margin: 1em auto 4em auto;
        width: 80%;
    }

    &.contact-intro,
    &.project-intro {
        padding-bottom: 0;

    }

    @media screen and (max-width: 900px) {
        &__title {
            font-size: 1.8em;
        }

        &__description {
            font-size: 1em;
            width: 90%;
            margin-bottom: 2.5em;
        }
    }

    @media screen and (max-width: 700px) {

        padding: .5em 0;

        &__title {
            font-size: 1.5em;
        }

        &__description {
            font-size: .9em;
            width: 100%;
        }
    }
}




.background-pattern {
    background: url("../assets/images/frontpage-pattern.png");
    background-repeat: repeat !important;
    background-size: auto !important;
}

.gray-gradient {
    background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.02) 40%, rgba(0, 0, 0, 0.05) 50%, rgba(0, 0, 0, 0.12) 100%);
}

.darkgray {
    min-height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $darkgray-section-background;
    color: $darkgray-section-color;
    padding: 1.5em;
    text-align: center;

    &__title {
        font-size: 2.2em;
        padding: 1em;
    }

    &__description {
        font-size: 1.2em;
        line-height: 1.5;
    }

    &__list {
        margin: 1.8em 0;
        line-height: 1.5; //        list-style: decimal;
        list-style-position: inside;
        counter-reset: my-awesome-counter;


        &-item {
            counter-increment: my-awesome-counter;
            &::before {
                font-size: 2em;
                content: counter(my-awesome-counter) ". ";
                color: $dot-color;
                font-weight: 600;
            }
        }
    }

    @media screen and (max-width: 1100px) {

        &__title {
            font-size: 1.8em;
        }

        &__description {
            font-size: 1.1em;
            line-height: 1.5;
        }

        &__list {
            font-size: .9em;
        }
    }

    @media screen and (max-width: 900px) {

        padding: 1.5em 0;

        &__title {
            padding: 1em 0;
        }

        &__description {
            font-size: 1em;
            line-height: 1.5;
        }
    }

    @media screen and (max-width: 600px) {

        &__title {
            font-size: 1.6em;
        }

        &__description {
            line-height: 1.5;
        }
    }

    .darkgray-list-wraper {
        display: flex;
        justify-content: center;
    }

    .quote {
        width: 80%;
        margin: 0 auto;

        [class*="icon"] {
            font-size: 2em;
            margin: .5em 0;
            color: $darkgray-icon-color;
        }

        &__icon-left {
            text-align: left;
        }

        &__icon-right {
            text-align: right;
        }

        &__text {
            font-weight: 300;
            display: block;
            padding: .2em 2em;
            line-height: 1.5;
            font-size: 1.4em;
        }

        &__author {
            margin: 1em auto;
            text-align: center;
            font-size: 1.15em;
            color: $darkgray-second-color;
            font-weight: 600;
        }

        @media screen and (max-width: 600px) {
            width: 100%;

            [class*="icon"] {
                font-size: 1.4em;
            }


            &__text {
                font-size: 1.2em;
            }

            &__author {

                font-size: .9em;
            }
        }
    }
}

.dot-color {
    color: $dot-color;
}

.reasons {
    width: 80%;
    margin: 0 auto;

    &__item {

        &-title {
            font-size: 1.2em;
            margin-bottom: .5em;
            font-weight: 600;
            color: $websites-page-title;
        }

        &-description {
            //            font-size: 1.5em;
            margin-bottom: 1.2em;
            line-height: 1.5;
            font-weight: 300; //            color: $websites-page-title;
        }
    }

    @media screen and (max-width: 768px) {
        width: 100%;
    }
}
