@import 'partials/reset';
@import 'partials/colors';
@import 'partials/nav';
@import 'partials/page-header';
@import 'partials/front-page/front-page-main';
@import 'partials/counter';
@import 'partials/front-page/project-intro';
@import 'partials/front-page/testimonials-intro';
@import 'partials/front-page/services-intro';
@import 'partials/front-page/team-intro';
@import 'partials/front-page/contact-intro';
@import 'partials/google-map';
@import 'partials/footer';

@import 'partials/offer/offer';


@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,700');

body,
html {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    min-height: 100vh;
    overflow-x: hidden;

    a {
        color: inherit;
        text-decoration: none;
    }
}

.container {
    margin: 0 auto;
    width: 80%;

    @media screen and (max-width: 768px) {
        width: 90%;
    }
}

.page-header {
    min-height: calc(100vh - 4em);
    background-image: url("../assets/images/page-header-home.jpg");
    background-attachment: fixed;
    background-size: cover;
}

.main {

    margin-top: 4em;
}

.section {
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
}
