@import 'partials/reset';
@import 'partials/colors';
@import 'partials/nav';
@import 'partials/page-header';
@import 'partials/counter';
@import 'partials/project-intro';
@import 'partials/testimonials-intro';
@import 'partials/services-intro';
@import 'partials/team-intro';
@import 'partials/contact-intro';
@import 'partials/google-map';
@import 'partials/footer';


@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,700');

body,
html {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    min-height: 100vh;
    overflow-x: hidden;

    a {
        color: inherit;
        text-decoration: none;
    }
}

.container {
    margin: 0 auto;
    width: 80%;

    @media screen and (max-width: 768px) {
        width: 90%;
    }
}

.main {

    margin-top: 4em;
}

.section {
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
}

.short {

    min-height: 40vh;
    padding: 2em 0;


    &__title {
        color: $short-title-color;
        font-size: 2.2em;
        font-weight: 700;
        padding: 1em; //        text-shadow: 1px 0px 1px #5e5e5e;
    }

    &__description {
        color: $short-text-color;
        line-height: 1.5;
        margin: 1em auto 4em auto;
        width: 80%;
    }

    &.contact-intro,
    &.project-intro {
        padding-bottom: 0;
    }
}

.project-intro {
    //    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAAJElEQVQoU2NkIAIwEqGGgYaKsrOy/0+dNhXFBhpah823RFkHAJroBAqI3w7lAAAAAElFTkSuQmCC);
    background: url("../assets/images/frontpage-pattern.png");
    background-attachment: fixed;
}
