$page-intro-color: #fff;
$header-color: #fff;
$dot-color: #ffde00;
$button-offer-color: #f1d204;
$testimonials-color: #fff;
$counter-color: #fff;
$short-title-color: #545454;
$short-text-color: #4a5255;
$short-text-color-testimonials: #8c9597;
$short-title-color-testimonials: #fff;
$person-intro-position-color: #6a6a6a;
$team-intro-quote-color: #8224e3;
$footer-color: #8c9597;
$footer-color-second: #fff;
$footer-background: #000;
$nav-background: #272b2f;
$nav-background-second: #3a3f45;

$service-intro-pages-color: #bb63dd;
$service-intro-shops-color: #f4dc37;
$service-intro-seo-color: #6a4d8a;