.header {
    background: $nav-background;
    color: $header-color;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.navbar {
    font-weight: 400;

    @media screen and (max-width: 700px) {
        display: none;
        position: fixed;
        top: 4em;
        margin-left: -5%;
        background: black;
        width: 100%;

        &__main {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
}



.header-wraper {
    display: flex;
    justify-content: space-between;
    line-height: 1.5; //    position: relative;
}

.logo {
    height: 4em;
    display: flex;
    align-items: center;
    letter-spacing: 12px;

}

.navbar__item {
    &-main {
        display: inline-block;
        line-height: 4em;
        margin: 0 1em;

        a {
            line-height: 2em;
            padding: 0 0 .35em 0;
            position: relative;
            transition: all .3s;

            &::after {
                background: $dot-color;
                border-radius: 3px;
                bottom: -15px;
                content: "";
                transition: all 0.23s; //                height: 0px;
                height: 2px;
                left: -10%;
                opacity: 0;
                position: absolute;
                width: 120%;
            }

            &:hover {
                color: $dot-color;

                &::after {
                    bottom: 0;
                    opacity: 1;
                }
            }
        }
    }

    &-main:last-child {
        margin-right: 0;

        @media screen and (max-width: 700px) {
            margin: 0 1em;
        }
    }

    &-sub {
        font-size: 0.8em;
        margin: 0 0 0 1.5em;

        a {
            border-bottom: 2px solid rgba(0, 0, 0, 0);

            &::after {
                content: none;
            }

            &:hover {
                border-color: $dot-color;
            }
        }
    }

    &-sub:last-child {
        margin-right: 0;
    }

    &-sub:first-child {

        margin: 0 auto 0 0;

        a {
            border: none;
            color: #272b2f;
            font-size: 4em;
            font-weight: 300;
            line-height: 1em;
            padding: 0;
            vertical-align: middle;
        }
    }
}

.navbar__sub-wraper {
    display: flex;
    justify-content: flex-end;
}

.navbar__sub {
    background: $nav-background-second;
    bottom: -4em;
    display: none;
    left: 0;
    position: absolute;
    text-align: right;
    transition: all 0.4s;
    width: 100%;
}

.hamburger {
    display: flex;
    align-items: center;
    font-size: 2em;

    @media screen and (min-width: 701px) {
        display: none;
    }
}


@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }

    20% {
        opacity: 40%;
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
        opacity: 0;
    }
}

.fadeIn {
    animation: fadeIn .6s;
}

.fadeOut {
    animation: fadeOut .6s;
}

.visible {
    display: block !important;
}