.project-intro {


    .project-intro-gallery {

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;

        &__item {
            box-sizing: border-box;
            cursor: pointer;
            padding-top: 25%;
            position: relative;
            width: 25%;
            background-size: cover;
            background-position: center;
            transition: all .3s;
            position: relative;

            &::after {
                content: "";
                position: absolute;
                z-index: 10;
                background: rgba(255, 255, 255, 0.2);
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                transition: all .3s;
            }


            &.netvariant {
                background-image: url("../assets/images/photo_netvariant_.jpg");
            }

            &.estate {
                background-image: url("../assets/images/photo_estatesolution.jpg");
            }

            &.fcgroup {
                background-image: url("../assets/images/fc-group.eu.jpg");
            }

            &.patrykbaklaj {
                background-image: url("../assets/images/photo_patrykbaklaj.jpg");
            }

            &:hover {
                transform: translateY(-40px);
                
                &::after {
                    background: none;
                }
            }
        }
    }
}
