.testimonials-intro {
    background: url('../assets/images/testiomnials-background.jpg');
    color: $testimonials-color;

    [class*="testimonioals-icon"] {

        width: 10%;
        margin: 0 auto 1.5em auto;

        img {
            width: 100%;
            height: auto;
        }
    }

    .quote {
        width: 50%;
        margin: 0 auto;
        font-weight: 300;
        line-height: 1.5;
        font-size: .9em;
    }
}
