    .testimonials-intro {
        background: url('../assets/images/testiomnials-background.jpg');
        color: $testimonials-color;

        [class*="testimonioals-icon"] {

            margin: 0 auto 1.5em auto;
            width: 10%;

            img {
                height: auto;
                width: 100%;
            }
        }

        @keyframes slideIn {
            0% {
                opacity: 0%;
                transform: translateX(100%);
            }

            100% {
                opacity: 1;
                transform: translateX(0%);
            }
        }

        .testimonials-item {
            display: none;
            transition: all 0.4s;


            &__author {
                font-size: 1.5em;
                margin-bottom: 1em;
            }

            &.show {
                animation: slideIn 1.5s backwards;
                display: block;
            }

            &.hide {
                display: none;
            }

        }

        .quote {
            font-weight: 300;
            font-size: .9em;
            line-height: 1.5;
            margin: 0 auto;
            width: 50%;
            min-height: 15vh;

            @media (max-width: 900px) {
                min-height: 25vh;
            }
        }

        .testimonials-control {
            margin: 2em auto;

            &__button {
                color: gray;
                cursor: pointer;
                display: inline-block;
                margin: 0 .2em;

                &.active {
                    color: white;
                }
            }
        }


    }
