.additionals,
.benefits {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;



    &__item {
        box-sizing: border-box;
        background: #fff;
        border-radius: 6px;
        padding: 1.5em;
        margin: 1.5em auto;
        width: 30%;
        box-shadow: 12px 12px 11px -2px rgba(200, 200, 200, 0.6);
        transition: all .3s;

        &:hover {
            transform: translate(10px, -10px);
        }
    }

    &__icon,
    &__icon-down {
        font-size: 2em;
        color: $dot-color;
    }

    @media screen and (max-width: 1100px) {}


    &__title {
        font-size: 1.5em;
        font-weight: 700;
        margin: 1em auto;
        text-transform: uppercase;
    }

    &__text {
        line-height: 1.5;
        padding: 0 1em;
        font-weight: 300;

        @media screen and (max-width: 600px) {
            font-size: .9em;
        }
    }





    .next,
    .next-down {
        font-size: 4em;
        align-self: center;
        padding: .25em;
        color: $dot-color;
    }

    @media screen and (max-width: 1060px) {

        &__item {
            width: 42%;
        }
    }

    @media screen and (max-width: 1060px) {

        &__item {
            width: 80%;
        }
    }

    @media screen and (max-width: 490px) {

        &__item {
            width: 100%;
        }
    }

}

.benefits {
    &__item {
        width: 23%;
        padding: .8em;
    }

    &__title {
        text-transform: none;
    }

    @media screen and (max-width: 1200px) {
        &__item {
            width: 30%;
        }
    }

    @media screen and (max-width: 900px) {
        &__item {
            width: 45%;
        }
    }
    
    @media screen and (max-width: 600px) {
        &__item {
            width: 80%;
            margin: .5em auto;
        }
    }
}
