.additionals,
.benefits {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    


    &__item {
        box-sizing: border-box;
        background: #fff;
        border-radius: 6px;
        padding: 1.5em;
        margin: 1.5em auto;
        width: 30%;
        box-shadow: 12px 12px 11px -2px rgba(200, 200, 200, 0.6);
        transition: all .3s;

        &:hover {
            transform: translate(10px, -10px);
        }
    }

    &__icon {
        font-size: 2em;
        color: $dot-color;
    }

    &__title {
        font-size: 1.5em;
        font-weight: 700;
        margin: 1em auto;
        text-transform: uppercase;
    }

    &__text {
        line-height: 1.5;
        padding: 0 1em;
        font-weight: 300;
    }
    
    .next {
        font-size: 4em;
        align-self: center;
        padding: .25em;
        color: $dot-color;
    }  
    
}

.benefits {
    &__item {
        width: 23%;
        padding: .8em;
    }
    
    &__title {

        text-transform: none;
    }
}