.websites {

    .page-header {
        background-image: url("../assets/images/websites-background.jpg");
        background-position: right;

        .page-intro__title {
            text-shadow: 1px 0 1px $websites-page-description;
        }
        .page-intro__description {
            color: $websites-page-description;
        }

        .page-intro__arrow {

            i {
                text-shadow: 0 0 5px $websites-page-title;
            }
        }
    }

    .web-image {
        background: $websites-page-title;

        .short__title,
        .short__description {
            color: #fff;
        }
    }

    .background-pattern,
    .cms {

        .short__title,
        .short__description {
            color: #6a4d8a;
        }
    }

    .additionals {

        &__title {
            text-transform: none;
        }
    }

    .additionals.how {
        flex-wrap: nowrap;

        .next-down {
            display: none;
        }

        @media screen and (max-width: 1100px) {
            flex-wrap: wrap;

            .next {
                display: none;
            }

            .next-down {
                display: block;
                width: 100%;
            }

            .additionals__item {
                width: 70%;
            }
        }

        @media screen and (max-width: 600px) {
            .additionals__item {
                width: 100%;
            }
        }

        @media screen and (max-width: 900px) {
            .additionals__item {
                margin: auto;
            }
        }
    }

    .quote {
        &__text {
            text-align: center;
        }
    }

    .darkgray.needs {

        .darkgray__description {
            font-weight: 300;
            margin: 1.5em auto;
            width: 80%;

            @media screen and (max-width: 900px) {
                width: 100%;
            }
        }
    }

    .next {

        .additionals {

            &__item {
                box-shadow: 12px 12px 11px -2px rgba(0, 0, 0, 0.6);
            }
        }
    }
}

.cms {
    &__wraper {
        display: flex;
        justify-content: space-between;

        @media screen and (max-width: 900px) {
            flex-direction: column;
            align-items: center;
        }

    }

    &__item {
        box-sizing: border-box;
        width: 45%; //        border: 1px solid $websites-page-title;
        border-radius: 6px;
        box-shadow: 12px 12px 11px -2px rgba(200, 200, 200, 0.6);
        font-weight: 300;
        padding: 2em 2em;
        line-height: 1.5;
        margin-bottom: 2em;

        &-title {
            font-size: 1.3em;
            font-weight: 600;
            margin-bottom: 2em;
            position: relative;
            display: inline-block;

            &::after {
                background: $websites-page-title;
                border-radius: 6px;
                bottom: -20px;
                content: "";
                height: 4px;
                left: 0;
                margin-left: -15%;
                position: absolute;
                width: 130%;
            }
        }

        &-description {
            margin-bottom: 2em;
        }

        &-adventage,
        &-disadventage {
            font-weight: 600;
            margin: 1em;
        }

        i[class*="plus"] {
            color: $websites-page-title;
        }

        i[class*="minus"] {
            color: $dot-color;
        }

        @media screen and (max-width: 1100px) {
            width: 48%;
        }

        @media screen and (max-width: 900px) {
            width: 80%;
        }

        @media screen and (max-width: 720px) {
            width: 90%;

            font-size: 0.9em;

            &-title {
                font-size: 1.15em;

                &::after {
                    bottom: -10px;
                    width: 120%;
                }
            }
        }

        @media screen and (max-width: 620px) {
            width: 96%;
        }
    }

    &__sumary {
        padding: 2em;
        width: 60%;
        margin: 0 auto;
        font-size: 1.5em;
        font-weight: 400;
        line-height: 1.5;

        @media screen and (max-width: 1100px) {
            font-size: 1.3em;
            width: 70%;
        }

        @media screen and (max-width: 900px) {
            width: 80%;
            font-size: 1.2em;
        }

        @media screen and (max-width: 620px) {
            width: 96%;
            padding: 2em 0;
            font-size: 1em;
        }
    }
}
